---
env:
  node: true
  es6: true
extends: "eslint:recommended"
rules:
  indent: [2, 4, {SwitchCase: 1}]
  quotes: [2, 'single']
  dot-notation: [2, {allowKeywords: false}]
  no-console: 0
  no-prototype-builtins: 0
